<div class="bg-theme-light p-10 rounded-2xl row justify-center">
  <div class="lg:col-4 py-10 my-5">
    <img src="images/int-fb-icon.png" alt="icon" class="mx-auto">
    <h5 class="text-center">Facebook</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem quaerat
      adipisci! Reiciendis incidunt magni ipsum magnam perferendis molestiae eos?</p>
    <a href="integrations-details.html"
      class="text-lg font-semibold text-center flex items-center justify-center hover:underline text-dark">View
      integration <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></a>
  </div>
  <div class="lg:col-4 py-10 my-5">
    <img src="images/int-google-icon.png" alt="icon" class="mx-auto">
    <h5 class="text-center">Google</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem quaerat
      adipisci! Reiciendis incidunt magni ipsum magnam perferendis molestiae eos?</p>
    <a href="integrations-details.html"
      class="text-lg font-semibold text-center flex items-center justify-center hover:underline text-dark">View
      integration <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></a>
  </div>
  <div class="lg:col-4 py-10 my-5">
    <img src="images/int-twitter-icon.png" alt="icon" class="mx-auto">
    <h5 class="text-center">Twitter</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem quaerat
      adipisci! Reiciendis incidunt magni ipsum magnam perferendis molestiae eos?</p>
    <a href="integrations-details.html"
      class="text-lg font-semibold text-center flex items-center justify-center hover:underline text-dark">View
      integration <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></a>
  </div>
  <div class="lg:col-4 py-10 my-5">
    <img src="images/int-pint-icon.png" alt="icon" class="mx-auto">
    <h5 class="text-center">Pinterest</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem quaerat
      adipisci! Reiciendis incidunt magni ipsum magnam perferendis molestiae eos?</p>
    <a href="integrations-details.html"
      class="text-lg font-semibold text-center flex items-center justify-center hover:underline text-dark">View
      integration <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></a>
  </div>
  <div class="lg:col-4 py-10 my-5">
    <img src="images/int-w-icon.png" alt="icon" class="mx-auto">
    <h5 class="text-center">Webflow</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem quaerat
      adipisci! Reiciendis incidunt magni ipsum magnam perferendis molestiae eos?</p>
    <a href="integrations-details.html"
      class="text-lg font-semibold text-center flex items-center justify-center hover:underline text-dark">View
      integration <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></a>
  </div>
  <div class="lg:col-4 py-10 my-5">
    <img src="images/int-youtube-icon.png" alt="icon" class="mx-auto">
    <h5 class="text-center">Youtube</h5>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatem quaerat
      adipisci! Reiciendis incidunt magni ipsum magnam perferendis molestiae eos?</p>
    <a href="integrations-details.html"
      class="text-lg font-semibold text-center flex items-center justify-center hover:underline text-dark">View
      integration <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></a>
  </div>
</div>


