<section class="relative">
  <div class="pt-14">
    <!-- circle-pattern -->
        <img data-src="images/bg-circle-pattern-2.svg" alt="circle-pattern" class="text-tertiary absolute bottom-[20%] left-0 w-20 xl:w-auto" />
    <!-- circle-pattern end-->

    <div class="container">
      <div class="grid xl:grid-cols-2 gap-5 xl:gap-14 bg-theme-light p-10 xl:p-20 rounded-2xl">
        <div>
          <h1 class=" text-h3 lg:text-h1 pb-5">Helping teams in the world with focus</h1>
          <a href="#" class="btn btn-primary">Download The Theme</a>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At nulla metus quisque aenean. Ornare amet facilisi aliquam tortor cursus auctor volutpat fringilla convallis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, iusto?</p>
        </div>
      </div>
    </div>
  </div>
</section>