<section class="relative">
  <!-- circle-pattern -->
    @@include('components/background-circle-pattern.html', {class: "border-tertiary top-0 left-[-80px] lg:left-[-140px]"})
  <!-- circle-pattern end-->
  <div class="pt-14">
    <div class="container">
      <div class="grid xl:grid-cols-2 gap-5 xl:gap-14 bg-theme-light p-10 xl:p-20 rounded-2xl">
        <div>
          <h1 class="capitalize text-h3 lg:text-h1 2xl:pb-5">Helping teams in the world with focus</h1>
          <div class="hidden xl:inline-block">
            <a href="#" class="btn btn-primary">Download The Theme</a>
          </div>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At nulla metus quisque aenean. Ornare amet facilisi aliquam tortor cursus auctor volutpat fringilla convallis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, iusto?</p>
          <div class="inline-block xl:hidden pt-5">
            <a href="#" class="btn btn-primary">Download The Theme</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>