<div class="tab" data-tab-group="tab-group-name">
  <ul class="tab-nav" data-tab-nav >
    <li class="tab-nav-item active" tabindex="0" data-tab="0">About Setup</li>
    <li class="tab-nav-item" tabindex="-1" data-tab="1">How to setup</li>
    <li class="tab-nav-item" tabindex="-1" data-tab="2">Support</li>
  </ul>
  <div class="tab-content" data-tab-content>
    <div class="tab-content-panel active" data-tab-panel="0">
      <div class="py-10">
        <h4 class="pb-5">How to connect your store with Webflow</h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
          neque,
          auctor sit amet aliquam vel, ullamcorper sit amet ligula. Lorem ipsum dolor sit amet, consectetur
          adipiscing
          elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero
          malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor
          eget
          felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla
          porttitor
          accumsan tincidunt. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Donec sollicitudin
          molestie
          malesuada. Donec sollicitudin </p>
        <ul class="pt-5 grid gap-3 list-disc list-outside marker:text-primary marker:text-2xl pl-6">
          <li>
            Perform any other function that we believe in good is necessary to protect the or proper functioning
            of
            our
            Site or Service.
          </li>
          <li>
            Send emails and updates about Conclude, including news and requests for agreement to amended legal
            documents
            such
          </li>
          <li>
            Send emails about our Site or respond to inquiries.
          </li>
          <li>
            Process transactions.
          </li>
          <li>
            Enhance or improve User experience, our Site, or our Service.
          </li>
        </ul>
        <h4 class="pb-5 pt-10">Why opening Webflow sales channels?</h4>
        <p>feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget
          felis
          porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
          consectetur
          adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan
          tincidunt. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Donec sollicitudin molestie
          malesuada. Donec sollicitudin.</p>
      </div>
      <div>
        <button class="btn btn-primary w-full">Integrate Webflow</button>
      </div>
    </div>
    <div class="tab-content-panel active" data-tab-panel="1">
      <div class="py-10">
        <h4 class="pb-5">How to Integrate Webflow</h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
          neque,
          auctor sit amet aliquam vel, ullamcorper sit amet ligula. Lorem ipsum dolor sit amet, consectetur
          adipiscing
          elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero
          malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor
          eget
          felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla
          porttitor
          accumsan tincidunt. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Donec sollicitudin
          molestie
          malesuada. Donec sollicitudin </p>
        <ul class="pt-5 grid gap-3 list-disc list-outside marker:text-primary marker:text-2xl pl-6">
          <li class="font-medium">
            Perform any other function that we believe in good is necessary to protect the or proper functioning
            of
            our
            Site or Service.
          </li>
          <li class="font-medium">
            Send emails and updates about Conclude, including news and requests for agreement to amended legal
            documents
            such
          </li>
          <li class="font-medium">
            Send emails about our Site or respond to inquiries.
          </li>
          <li class="font-medium">
            Process transactions.
          </li>
          <li class="font-medium">
            Enhance or improve User experience, our Site, or our Service.
          </li>
        </ul>
        <h4 class="pb-5 pt-10">Why opening Webflow sales channels?</h4>
        <p>feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget
          felis
          porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
          consectetur
          adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan
          tincidunt. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Donec sollicitudin molestie
          malesuada. Donec sollicitudin.</p>
      </div>
      <div>
        <button class="btn btn-primary w-full">Integrate Webflow</button>
      </div>
    </div>
    <div class="tab-content-panel active" data-tab-panel="2">
      <div class="py-10">
        <h4 class="pb-5">How to connect your store with Webflow</h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
          neque,
          auctor sit amet aliquam vel, ullamcorper sit amet ligula. Lorem ipsum dolor sit amet, consectetur
          adipiscing
          elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Nulla quis lorem ut libero
          malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor
          eget
          felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla
          porttitor
          accumsan tincidunt. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Donec sollicitudin
          molestie
          malesuada. Donec sollicitudin </p>
        <ul class="pt-5 grid gap-3 list-disc list-outside marker:text-primary marker:text-2xl pl-6">
          <li class="font-medium">
            Perform any other function that we believe in good is necessary to protect the or proper functioning
            of
            our
            Site or Service.
          </li>
          <li class="font-medium">
            Send emails and updates about Conclude, including news and requests for agreement to amended legal
            documents
            such
          </li>
          <li class="font-medium">
            Send emails about our Site or respond to inquiries.
          </li>
          <li class="font-medium">
            Process transactions.
          </li>
          <li class="font-medium">
            Enhance or improve User experience, our Site, or our Service.
          </li>
        </ul>
        <h4 class="pb-5 pt-10">Why opening Webflow sales channels?</h4>
        <p>feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget
          felis
          porttitor volutpat. Cras ultricies ligula sed magna dictum porta. Lorem ipsum dolor sit amet,
          consectetur
          adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan
          tincidunt. Nulla porttitor accumsan tincidunt. Sed porttitor lectus nibh. Donec sollicitudin molestie
          malesuada. Donec sollicitudin.</p>
      </div>
      <div>
        <button class="btn btn-primary w-full">Integrate Webflow</button>
      </div>
    </div>
  </div>
</div>