
  <div class="bg-theme-light p-10 rounded-2xl">
      <div class="flex items-center gap-5">
        <div>
          <img src="images/icon-12.png" alt="icon" class="hidden sm:block">
          <img src="images/customer-3.png" alt="customer" class="max-w-20 block sm:hidden">
          <blockquote class="pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At nulla metus quisque aenean.
            Ornare amet facilisi aliquam tortor cursus auctor volutpat fringilla convallis.</blockquote>
        </div>
          <img src="images/customer-3.png" alt="customer" class="max-w-72 hidden sm:block">
      </div>
      <h6 class="pt-5">Andrew Saymonds</h6>
  </div>

