<header class="header z-30">

  <!-- circle-pattern -->
  <figure>
    <img src="images/bg-circle-pattern-1.png" alt="circle-pattern" class="absolute top-0 right-0 w-28 xl:w-auto">
  </figure>
  <!-- circle-pattern END-->

  <nav class="navbar container">
    <!-- logo -->
    <div class="order-0">
      <a class="navbar-brand block" href="index.html">
        <img src="images/logo.png" width="180" height="21" alt="Mercury" />
      </a>
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label for="nav-toggle" class="order-3 cursor-pointer flex items-center lg:hidden text-white lg:order-1">
      <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2" transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>
    <!-- /navbar toggler -->
    <ul id="nav-menu" class="navbar-nav order-3 hidden w-full pb-6 lg:order-1 lg:flex lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8">
      <li class="nav-item">
        <a href="index.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="about.html" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="integrations.html" class="nav-link">Integrations</a>
      </li>
      <li class="nav-item">
        <a href="pricing.html" class="nav-link">Pricing</a>
      </li>
      <li class="nav-item nav-dropdown group relative">
        <span class="nav-link inline-flex items-center">
          Contact
          <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </span>
        <ul class="nav-dropdown-list hidden group-hover:block lg:invisible lg:absolute lg:block lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100">
          <li class="nav-dropdown-item">
            <a href="contact.html" class="nav-dropdown-link">Contact</a>
          </li>
          <li class="nav-dropdown-item">
            <a href="contact2.html" class="nav-dropdown-link">Contact 2</a>
          </li>
        </ul>
      </li>
      <li class="mt-4 inline-block lg:hidden">
        <a class="btn btn-outline-primary" href="sign-up.html">
          Sign Up Now
        </a>
      </li>
    </ul>
    <div class="order-1 ml-auto hidden lg:flex items-center md:order-2 lg:ml-0">
      <a class="btn btn-outline-primary" href="sign-up.html">
        Sign Up Now
      </a>
    </div>
  </nav>
</header>